<html>
    <head>
        <title>Get your hair did</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <style>
        .due{
            color : red;
        }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>{{ client.getName }}</h1>

            {% if client is not empty %}
                <h4>List of stylists:</h4>
                    {% for clie in client %}
                        <p><strong>{{ clie.getName }}<strong></p>

                    {% endfor %}
            {% endif %}

            <h4>Add a Client</h4>

            <form action='/client' method='post'>
                <input id="category_id" name="category_id" type="hidden" value="{{ stylist.getId() }}">
                <label for='name'>client name:</label>
                <input id='name' name='name' type='text'>


                <button type='submit' class="btn btn-success">Add client</button>
            </form>

            <form action='/delete_client' method='post'>
                <input id="stylist_id" name="stylist_id" type="hidden" value="{{ stylist.getId() }}">
                <button type='submit' class="btn btn-danger">Clear all Clients</button>
            </form>


            <p><a class="btn btn-primary" href='/'>Home</a></p>
        </div>
</body>
</html>
